body{
    font: 16px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color:white;
}

/* pangkalahatan*/
.container{
    width:95%;
    margin:auto;
    overflow:hidden;
}

/*header*/

header{
    background:saddlebrown;
    color:#ffffff;
    padding-top: 20px;
    min-height: 65px;
    border-bottom:pink 5px solid;
}


header a{
    color:burlywood;
    text-decoration:none;
    text-transform: uppercase;
    font-size: 15px;
}

header h1{
    color:pink;

}
header ul{
    margin:0;
    padding:0;
}

header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
}

header #img{
    float:left;
}

header #img h1{
    margin:0;
}

header nav{
    float:right;
    margin-top:10px;

}

header .current a{
    color:white;
    font-weight:bold;
}

header .highlight{
    color:chocolate;
    font-weight:bold;
}

header a:hover{
    color:burlywood;
    font-weight:bold;
}



/*case*/

#case {
    min-height:200px;
    background-color: whitesmoke;
}

#case h1{
    font-size: 50px;
    color:saddlebrown;
    text-align: center;
    margin: 0;
}

#case h2{
    font-size: 10;
    color:black;
    text-align: center;
    font-style: arial;
    margin: 0;
}

#case h3{
    font-size: 10;
    color:black;
    text-align: left;
    font-style: arial;
    margin: 0;
}

#case p{
    font-kerning: auto;
    margin:none;
} 



/*showcase*/

#showcase{
    min-height:200px;
    background:url('../img/cream_logo.jpg') no-repeat -450px -250px;
    border-bottom:pink 10px solid;
    border-top: pink 10px solid;
    background-color: burlywood;
}

#showcase h1{
    font-size:30px;
    color:papayawhip;
    background-color: rgb(80, 40, 11);
    text-align: center;
}

#showcase p{
    text-align: center;
    font-size:20px;
    font-style: normal;
    color:rgb(80, 40, 11);
    background-color: burlywood;
    border: 5px solid ;
    border-radius: 25px;
    
}

#showcase a{
    color:papayawhip;
    text-decoration:none;
    text-transform: uppercase;
    font-size: 20px;
}

#showcase .boz {
    float:left;
    text-align: center;
    width:30%;
    padding:10px;
    size:10px;
}

#showcase img {
    border: 5px solid ;
    border-radius: 25px;
    max-width: 100%;
    height: auto;
}

#showcase .boz .h:hover{
    opacity: 80%;
    
}

#showcase .boz .a:hover{
    opacity: 80%;
    
}

#showcase .boz .q:hover{
    opacity: 80%;

}

/*img*/

#image{
    margin-top:20px; 
}

#image .box{
    float:none;
    text-align: center;
    width:100%;
    padding:10px;
}

#image .box img{
    width:100%;
}

/*footer*/

 footer{
     padding:5px;
     margin-top:none;
     color:black;
     background-color: saddlebrown;
     text-align: center;
     border-top: yellow 3px solid;
 }










