body{
    font: 16px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color:white;
}

/* pangkalahatan*/
.container{
    width:95%;
    margin:auto;
    overflow:hidden;
}

/*header*/

header{
    background:saddlebrown;
    color:#ffffff;
    padding-top: 20px;
    min-height: 65px;
    border-bottom:pink 5px solid;
}


header a{
    color:burlywood;
    text-decoration:none;
    text-transform: uppercase;
    font-size: 15px;
}

header h1{
    color:pink;

}
header ul{
    margin:0;
    padding:0;
}

header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
}

header #img{
    float:left;
}

header #img h1{
    margin:0;
}

header nav{
    float:right;
    margin-top:10px;

}

header .current a{
    color:white;
    font-weight:bold;
}

header .highlight{
    color:chocolate;
    font-weight:bold;
}

header a:hover{
    color:burlywood;
    font-weight:bold;
}

/*body*/

#body .container{
    color:saddlebrown;
    float:none;
    text-align: center;
}




/*showcase*/

#showcase{
    min-height:200px;
    background:url('../img/cream_logo.jpg') no-repeat -450px -250px;
    border-bottom:pink 10px solid;
    border-top: pink 10px solid;
    background-color: burlywood;
}

#showcase h1{
    font-size:30px;
    color:papayawhip;
    background-color: rgb(80, 40, 11);
    text-align: center;
}

#showcase .pp p{
    opacity:10%;
}

#showcase .pp p:hover{
    opacity:100%;
}

#showcase p{
    text-align: center;
    font-size:20px;
    font-style: italic;
    color:papayawhip;
}

#showcase p:hover{
    font-size:20px;
    font-weight: bold;
    color:rgb(80, 40, 11);
    font-style: normal;
    background-color: burlywood;

}

#showcase a{
    color:papayawhip;
    background-color:rgb(80, 40, 11);
    text-decoration:none;
    text-transform: uppercase;
    font-size: 20px;
}

/*img*/

#image{
    margin-top:20px; 
}

#image .box{
    float:none;
    text-align: center;
    width:100%;
    padding:10px;
}

#image .box img{
    width:100%;
}

/*footer*/

 footer{
     padding:5px;
     margin-top:none;
     color:black;
     background-color: saddlebrown;
     text-align: center;
     border-top: yellow 3px solid;
 }










